<div class="wrap ">
  <section class="question-section mat-elevation-z1 ">
    <form class="container " [formGroup]="formEditMed" *ngIf="formEditMed" (ngSubmit)="onSubmit()">


      <div class="d-flex  ">
        <div class="d-flex row align-self-center  ">
          <h3 class="col-8  ">Edit Medicine Details</h3>
          <h5 class="col-8 ">All Details About {{medicines.name}}</h5>
        </div>

        <img *ngIf="check" class=" col-3  my-2 " 
        mat-card-image
         src="{{ medicines.image }}" 
         alt=""
          style=" width:15% ;" />

          <img *ngIf="!check" class=" col-3  my-2 " 
          mat-card-image
          [src]="imagePreview"
          [alt]="formEditMed.value.title"
            style=" width:15% ;" />

        <div>
          <input type="file" #filePicker (change)="onImagePicked($event)" class="hideme" />
          <!-- <span *ngIf="imagePreview !== '{{medicines.image}}' && imagePreview && formEditMed.get('image')" class=" col-3  my-2 mx-3 ">
            <img [src]="imagePreview" [alt]="formEditMed.value.title" style=" width:25% ;"  />
          </span> -->
        </div>

      </div>
      <div class="cat-1 ">


        <input id="tab-1" type="radio" name="tabs" tabindex="1">
        <label for="tab-1" class="text-center d-flex justify-content-center ">Medicine Details 	<mat-icon class="d-flex align-content-end">expand_more</mat-icon> </label>

        <div class="question-wrap  d-flex row gap-2  justify-content-center">
          <mat-form-field class="example-half-width   col-4" appearance="fill">
            <mat-label>Medicine Name</mat-label>
            <input matInput formControlName="name" type="text" value="{{medicines.name}}">
            <mat-hint *ngIf="formEditMed.controls['name'].errors ">
              <mat-hint *ngIf="formEditMed.controls['name'].errors['required']&&
              formEditMed.touched">required</mat-hint>
              <mat-hint *ngIf="formEditMed.controls['name'].errors['minlength']">minimum length is 3</mat-hint>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-half-width col-4 " appearance="fill">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="company name that Provide this medicine.."
              value="{{medicines.companyProvider}}" formControlName="companyProvider" type="text">
            <mat-hint *ngIf="formEditMed.controls['companyProvider'].errors">
              <mat-hint *ngIf="
                formEditMed.controls['companyProvider'].errors['required'] &&
                formEditMed.touched
                ">required</mat-hint>
              <mat-hint *ngIf="formEditMed.controls['companyProvider'].errors['minlength']">minimum length is 3
              </mat-hint>

            </mat-hint>
          </mat-form-field>


          <mat-form-field appearance="fill" class="example-half-width col-4">
            <mat-label class=" ">concentration</mat-label>
            <mat-select formControlName="concentration" type="text">
              <mat-option *ngFor="let concentration of concentrations" value="{{medicines.concentration}}">
                {{concentration.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formEditMed.controls['concentration'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['concentration'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>

            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-half-width col-4">
            <mat-label class="">Size</mat-label>
            <mat-select formControlName="size" type="text">
              <mat-option *ngFor="let size of sizes" value="{{medicines.size}}">
                {{size.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formEditMed.controls['size'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['size'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-half-width col-4">
            <mat-label class=" ">Type</mat-label>
            <mat-select formControlName="type" type="text">
              <mat-option *ngFor="let type of types" value="{{medicines.type}}">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="formEditMed.controls['type'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['type'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>

            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-half-width col-4" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="" value="" formControlName="quantity" type="number"
              value="{{medicines.quantity}}">
            <mat-hint *ngIf="formEditMed.controls['quantity'].errors">
              <mat-hint *ngIf="
                formEditMed.controls['quantity'].errors['required'] &&
                formEditMed.touched
                ">required</mat-hint>

            </mat-hint>

          </mat-form-field>

          <mat-form-field class="example-half-width  col-4" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="write some details about Medicine..." formControlName="description"
              value="{{medicines.description}}" type="text"></textarea>
          </mat-form-field>

          <mat-form-field class="example-half-width col-4" appearance="fill">
            <mat-label>Brand</mat-label>
            <input matInput placeholder="" formControlName="brand" type="text" value="{{medicines.brand}}">
            <mat-hint *ngIf="formEditMed.controls['brand'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['brand'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>
        </div>
      </div><!-- end of Catagory -->


      <!------.............................................section 2 .................................................-->

      <div class="cat-2">
        <input id="tab-2" type="radio" name="tabs" tabindex="7">
        <label for="tab-2" class="text-center d-flex justify-content-center ">Prices <mat-icon class="d-flex align-content-end">expand_more</mat-icon></label>

        <div class="question-wrap d-flex row gap-2  justify-content-center">
          <mat-form-field class="example-half-width col-3  " appearance="fill">
            <mat-label>pharm Price</mat-label>
            <input matInput placeholder="" formControlName="pharmPrice" type="number" value="{{medicines.firmPrice}}">
            <mat-hint *ngIf="formEditMed.controls['pharmPrice'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['pharmPrice'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>


          <mat-form-field class="example-half-width col-3" appearance="fill">
            <mat-label>store Price</mat-label>
            <input matInput placeholder="" formControlName="storePrice" type="number" value="{{medicines.storePrice}}">
            <mat-hint *ngIf="formEditMed.controls['storePrice'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['storePrice'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-half-width col-3" appearance="fill">
            <mat-label>Firm Price</mat-label>
            <input matInput placeholder="" formControlName="firmPrice" type="number" value="{{medicines.firmPrice}}">
            <mat-hint *ngIf="formEditMed.controls['firmPrice'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['firmPrice'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>


        </div>
      </div>


      <!------.............................................section 3.................................................-->

      <div class="cat-3">
        <input id="tab-3" type="radio" name="tabs" tabindex="16">
        <label for="tab-3" class="text-center d-flex justify-content-center ">Dates <mat-icon class="d-flex align-content-end">expand_more</mat-icon> </label>

        <div class="question-wrap d-flex row gap-2  justify-content-center">

          <mat-form-field class="example-half-width col-5" appearance="fill">
            <mat-label class="">Expiration Date</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="expDate" type="text"
              value="{{medicines.expDate}}">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-hint *ngIf="formEditMed.controls['expDate'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['expDate'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-half-width col-5 ">
            <mat-label class="">Arrive Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="arriveDate" type="text"
              value="{{medicines.arriveDate}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="formEditMed.controls['arriveDate'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['arriveDate'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!------.............................................section 4.................................................-->

      <div class="cat-4">
        <input id="tab-4" type="radio" name="tabs" tabindex="25">
        <label for="tab-4" class="text-center d-flex justify-content-center ">Categories <mat-icon class="d-flex align-content-end">expand_more</mat-icon></label>

        <div class="question-wrap ">
          <div formArrayName="categories" class="example-full-width my-3">
            <div *ngFor="let song of categories.controls; let i=index">
              <!-- <label> categories: </label> -->
              <mat-label>categories:</mat-label>
              <input type="text" class="mx-2" [formControlName]="i" value="{{medicines.categories}}" />
              <mat-hint *ngIf="formEditMed.controls['categories'].errors">
                <mat-hint *ngIf="
                formEditMed.controls['categories'].errors['required'] &&
                formEditMed.touched
                ">required</mat-hint>
              </mat-hint>
            </div>
          </div>
        </div>
      </div>
      <!------.............................................section 5.................................................-->
      <div class="cat-5">
        <input id="tab-5" type="radio" name="tabs" tabindex="25">
        <label for="tab-5" class="text-center d-flex justify-content-center ">Limit & Discount <mat-icon class="d-flex align-content-end">expand_more</mat-icon> </label>

        <div class="question-wrap d-flex row gap-2  justify-content-center">

          <mat-form-field class="example-half-width col-5" appearance="fill">
            <mat-label>Discount</mat-label>
            <input matInput placeholder="" formControlName="discount" type="number" value="{{medicines.discount}}">
            <mat-hint *ngIf="formEditMed.controls['discount'].errors">
              <mat-hint *ngIf="
              formEditMed.controls['discount'].errors['required'] &&
              formEditMed.touched
              ">required</mat-hint>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-half-width col-5  " appearance="fill">
            <mat-label>Limit</mat-label>
            <input matInput placeholder="" formControlName="limit" type="number" class="input"
              value="{{medicines.limit}}">
            <mat-hint *ngIf="formEditMed.controls['limit'].errors">
              <mat-hint *ngIf="
                formEditMed.controls['limit'].errors['required'] &&
                formEditMed.touched
                ">required</mat-hint>
            </mat-hint>

          </mat-form-field>
        </div>
      </div>

      <div class="d-flex gap-1  justify-content-center  my-4 ">
        <button mat-stroked-button color="primary" class=" col-2 " type="submit">Upadte</button>
        <button mat-stroked-button color="warn" class=" col-2 " type="button" (click)="clearInput()">Discard</button>
        <button mat-stroked-button class=" col-2" type="button" (click)="filePicker.click() "
          (click)="toggelCheck(false)">
          Update Image
        </button>
      </div>


    </form>

  </section>
</div>