<h3>Add medicine </h3>
<form class="d-flex w-100 justify-content-center" [formGroup]="formAddMedicine" *ngIf="formAddMedicine">
<div  class="mat-elevation-z8 example-form align-items-center col-6 "   >
  <mat-form-field class="example-full-width " appearance="fill" >
    <mat-label >Medicine Name</mat-label >
    <input matInput   formControlName="Name" #inputName [class.is-invalid]="formAddMedicine.controls['Name'].errors && formAddMedicine.controls['Name'].touched" >  
  </mat-form-field>

  <mat-form-field class="example-full-width " appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="write some details about Medicine..." formControlName="Description" #inputDescription [class.is-invalid]="formAddMedicine.controls['Description'].errors && formAddMedicine.controls['Description'].touched"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Company Name</mat-label>
    <input matInput placeholder="company name that Provide this medicine.." value="" formControlName="CompanyName" #inputCompanyName [class.is-invalid]="formAddMedicine.controls['CompanyName'].errors && formAddMedicine.controls['CompanyName'].touched">
  </mat-form-field>

  
  <mat-form-field appearance="fill" class="example-half-width" >
    <mat-label class="fw-bold ">Type</mat-label>
    <mat-select formControlName="Type" #inputType [class.is-invalid]="formAddMedicine.controls['Type'].errors && formAddMedicine.controls['Type'].touched">
      <mat-option *ngFor="let type of types" [value]="type.value" >
        {{type.viewValue}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>

  <mat-form-field appearance="fill"  class="example-half-width mx-2" >
    <mat-label class="fw-bold ">concentration</mat-label>
    <mat-select formControlName="concentration" #inputConcentration [class.is-invalid]="formAddMedicine.controls['concentration'].errors && formAddMedicine.controls['concentration'].touched">
      <mat-option *ngFor="let concentration of concentrations" [value]="concentration.value">
        {{concentration.viewValue}}
      </mat-option>
    </mat-select>
    
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label class="fw-bold">Expiration Date</mat-label>
    <input matInput   [matDatepicker]="picker2" formControlName="Expiration" #inputExpiration [class.is-invalid]="formAddMedicine.controls['Expiration'].errors && formAddMedicine.controls['Expiration'].touched">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="mx-2">
    <mat-label class="fw-bold">Arrive Date</mat-label>
    <input matInput [matDatepicker]="picker"  formControlName="ArriveDate" #inputArriveDate [class.is-invalid]="formAddMedicine.controls['ArriveDate'].errors && formAddMedicine.controls['ArriveDate'].touched">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-half-width" appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="" value=""formControlName="Quantity" #inputQuantity [class.is-invalid]="formAddMedicine.controls['Quantity'].errors && formAddMedicine.controls['Quantity'].touched">
  </mat-form-field>

  <mat-form-field class="example-half-width mx-2 " appearance="fill">
    <mat-label>pharmPrice</mat-label>
    <input matInput placeholder="" value="" formControlName="pharmPrice" #inputpharmPrice [class.is-invalid]="formAddMedicine.controls['pharmPrice'].errors && formAddMedicine.controls['pharmPrice'].touched">
  </mat-form-field>

  <mat-form-field class="example-half-width" appearance="fill">
    <mat-label>storePrice</mat-label>
    <input matInput placeholder="" value="" formControlName="storePrice" #inputstorePrice [class.is-invalid]="formAddMedicine.controls['storePrice'].errors && formAddMedicine.controls['storePrice'].touched">
  </mat-form-field>

  <mat-form-field class="example-half-width mx-2" appearance="fill">
    <mat-label>Discount</mat-label>
    <input type="number" matInput placeholder="" value="" formControlName="Discount" #inputDiscount [class.is-invalid]="formAddMedicine.controls['Discount'].errors && formAddMedicine.controls['Discount'].touched">
  </mat-form-field>

  <mat-form-field class="example-half-width" appearance="fill">
    <mat-label>FirmPrice</mat-label>
    <input matInput placeholder="" value="" formControlName="FirmPrice" #inputFirmPrice [class.is-invalid]="formAddMedicine.controls['FirmPrice'].errors && formAddMedicine.controls['FirmPrice'].touched">
  </mat-form-field>

  <mat-form-field class="example-half-width mx-2" appearance="fill">
    <mat-label>Brand</mat-label>
    <input matInput placeholder="" value="" formControlName="Brand" #inputBrand [class.is-invalid]="formAddMedicine.controls['Brand'].errors && formAddMedicine.controls['Brand'].touched">
  </mat-form-field>

</div>

<div  class="mat-elevation-z8 example-form  col-6 mx-5 "  >

<mat-card class="h-50 w-50 m-4 "> <img src=""></mat-card>
<div class="d-flex justify-content-center my-3">
<mat-form-field appearance="fill" class="example-half-width  ">
  <mat-label class="fw-bold">isAvailable</mat-label>
  <mat-select formControlName="isAvailable" #inputisAvailable [class.is-invalid]="formAddMedicine.controls['isAvailable'].errors && formAddMedicine.controls['isAvailable'].touched">
    <mat-option *ngFor="let boolean of booleans" [value]="boolean.value" >
      {{boolean.viewValue}}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-half-width mx-2">
    <mat-label class="fw-bold">Size</mat-label>
    <mat-select formControlName="Size" #inputSize [class.is-invalid]="formAddMedicine.controls['Size'].errors && formAddMedicine.controls['Size'].touched">
      <mat-option *ngFor="let size of sizes" [value]="size.value" >
        {{size.viewValue}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </div>

    <div class="d-flex justify-content-center my-3">
    <mat-form-field class="example-half-width" appearance="fill">
      <mat-label>Categories</mat-label>
      <input matInput placeholder="" value="" formControlName="Categories" #inputCategories [class.is-invalid]="formAddMedicine.controls['Categories'].errors && formAddMedicine.controls['Categories'].touched">
    </mat-form-field>

    <mat-form-field class="example-half-width mx-2" appearance="fill">
      <mat-label>Limit</mat-label>
      <input type="number" matInput placeholder="" value="" formControlName="Limit" #inputLimit [class.is-invalid]="formAddMedicine.controls['Limit'].errors && formAddMedicine.controls['Limit'].touched">
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center my-3">
    <button mat-raised-button color="warn" class="button " type="submit" [disabled]="formAddMedicine.invalid" 
     (click)="add(inputName.value ,inputDescription.value,inputCompanyName.value, inputType.value,inputConcentration.value,
     inputExpiration.value,inputArriveDate.value,+inputQuantity.value,+inputpharmPrice.value,+inputstorePrice.value,
     +inputDiscount.value,+inputFirmPrice.value,inputBrand.value,inputisAvailable.value,inputSize.value,inputCategories.value,+inputLimit.value)" >Create</button>
    <button mat-raised-button color="accent" class="button mx-2">Discard</button>
  </div>
</div>

</form>