// .cardW{
//     width: 25%;
// }

// #root > div > div {
//     display: inline-block;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.quantityInput {
  width: 25%;
}
.groupSize {
  transform: scale(0.8);
}

.cardScale{
  transform: scale(1);
  transition: all ease 0.3s;
  &:hover{
    background-color: rgba(236, 241, 250, 0.877);
    

  }
}
