body{
    padding: 0;
    margin: 0;
}
.bg{
    background-image: url(../../Assets/Images/futuristic4.jpg);
    // background-color: #283dac !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-clip: border-box;
    height: 100vh;
}
.card{
    height: 85vh;
    background-color: #fff;
    border-radius:20px ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    margin-right: 20px;
}