@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
.imgbg{
    background-image: url(https://www.campusreel.org/assets/Admission%20Officers.svg);
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.layer{
    display:  flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: rgba(19, 64, 185, 0.52);
    width: 100%;
    height: 100%;
}
.link{
    cursor: pointer;
    color: blue;
    
}
.Alert{
    position: absolute;
    top: 20%;
    left:20%;
   z-index: 999999999;
}
.TextField{
border-bottom: solid 1px #3448d4 !important;
border-radius: 3px;
margin-top:20px !important;
margin-bottom:20px !important;
}
