
.card{
    background-color: #212942!important;
    box-shadow: inset !important;
    margin:auto;
    width: 40% !important;
    background-color: aliceblue;
    border-radius: 20px;
    z-index: 99999999999;
    margin-top: 50px !important;
    color: #ffff !important;
    position: relative;
}
.card:after{
    position: absolute;
    content: '';
    width: 95%;
    height: 10px;
    background-color: #8bd17c !important;
    border-radius: 10px;
}
.card:before{
    position: absolute;
    content: '';
    width: 95%;
    height: 10px;
    background-color: #79a6fe !important;
    border-radius: 10px;
}
.btn{
    background-color: #7f5feb !important;
    margin-top : 50px !important;
    margin-bottom: 50px !important;
    border-radius: 25px !important;
    width: 50% !important ;
    padding: 10px !important;
    transition: all ease-in-out 1s;
    font-size: 1rem !important;

}
.btn:hover{
    background-color:#3e58a7 !important ;
    transition: all ease-in-out 1s;
}