<div class="container-fluid">
    <div class="row pt-2">
        <div *ngIf="IncomingMedicine.length == 0" class="text-center">
                <h6 class="text-muted pt-5">No Medicine Added Today</h6>
        </div>
        <div *ngFor="let med of IncomingMedicine; let currentIndex=index" class="col-lg-3 col-6 my-3">
            <mat-card class="example-card" matBadge="In Stock: {{med.quantity}}">
                <div class="card-image">
                    <img mat-card-image src="{{med.image}}" alt="product image">
                </div>
                <mat-card-actions class="action-buttons">
                    <button mat-button class="edit-icon" routerLink="/products/edit/{{med.id}}">
                        <mat-icon>edit</mat-icon> 
                        <div class="fill-button"></div>
                    </button>
                      

                    <button mat-button (click)="deleteMedicine(med.id)">
                        <mat-icon>delete</mat-icon>
                    	<div class="fill-button"></div>
                    </button>  
                </mat-card-actions>
                <mat-card-content >
                    <mat-card-title>{{med.name}}</mat-card-title>
                    <mat-card-subtitle>Arrived On : {{med.arriveDate | date: "d/M/yy, h:mm a" }} </mat-card-subtitle>
                    <p class="price"> {{med.firmPrice}} EGP</p>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>
