::ng-deep  .mat-card{
    padding: 2px 16px !important;
  }
::ng-deep .mat-card-title {
  font-size: 20px;
  font-weight: 500;
}
.price{
  font-size: 18px;
  font-weight: 600;
  color: #ff5722;
  margin-bottom: 0px;
}
// .mat-badge {
//   width: auto;
//   display: grid;
//   min-width: 32px;
//   min-height: 32px;
//   align-items: center;
//   font-size: 14px;
//   background-color: #ff5722;  
//   box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
//   top: -30% !important;
//   right:0.5% !important;
// }

::ng-deep .mat-card-actions{
  padding: 0px !important;
  margin: 0px !important;
  display: flex !important;
  align-items: end !important;
  justify-content: end !important;
  padding-bottom: 10px !important;
}
::ng-deep .mat-card-actions a ,.mat-card-actions button{
  min-width: 38px;
  line-height: 30px;
  background-color: #ff5622fb;
  color: #fff;
  padding: 5px 5px !important;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  margin: 0 !important;
}
.mat-icon {
  font-size: 20px;
}
.edit-icon{
  margin-right: 5px !important;
}
