.card{
    border:1px solid rgb(247 247 247) !important;
}
.title{
    font-weight: 700;
}
.price{
    font-weight: 500;
    color: #38d0f2;
}
.card {
    border:none !important;
}
.imgContainer{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    max-width: 80%;
}