:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    // background: #082975;
  }

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #28b0ec !important;
}