<router-outlet></router-outlet>




<!-- <tbody *ngFor="let item of notifications ,let i=index ">
  
  <tr >
   
     <td>{{item.notificationMessage}}</td>
     
  </tr>
</tbody> --> 
<!-- 
<div class="wrapper" >
    <div class="toast-list">
    <div class="toast" *ngFor="let item of notifications ,let i=index ">
      <img class="toast__image" src="../../../../assets/not.png" alt="" />
        <div class="toast-info">
          <div class="toast-info__data"></div>
          <div class="toast-info__title">{{item.notificationMessage}}</div>
        </div>
      <div class="toast__dismiss">
        <span class="cancel-button" tabindex="1"></span>
      </div>
    </div>
    
  </div>
  </div> -->
