@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:host {
  .mat-icon {
    vertical-align: middle;
    color: #f2f5f7 !important;
    font-size: 20px !important;
  }
}
.logo {
  font-family: "Poppins", cursive;
  font-size: 30px;
}
.menu__fonts {
  font-family: "Prompt", sans-serif !important;
}
.mat-divider {
  border-top-width: 2px;
  border-color: white !important;
}
a {
  color: #f2f5f7 !important;
}
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 46px !important;
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      &:hover {
        background: #1ba0f2 !important;
      }
    }
  }
}
.list-item-active {
  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #1ba0f2 !important;
      &:hover {
        background: #1ba0f2 !important;
      }
    }
  }
}
.mat-subheader {

  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
h4 {
  color: #f2f5f7 !important ;
  font-size: 1.1rem;
  margin: 0.5rem !important;
}

/////////////////////////////////////////////////////////////////////////////////////

::ng-deep .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  background-color: transparent;
  margin: 0px !important;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0px !important;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}
.expansion-item {
  padding-left: 10px;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0px 30px !important;
}

:host mat-select ::ng-deep .mat-select-arrow {
  transform: rotate(-90deg);
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  transform: rotate(0deg);
}

