@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
:host {
  .mat-icon {
    vertical-align: middle;
    color: #f2f5f7 !important;
    font-size: 20px !important;
  }
}
.logo{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.menu__fonts{
  font-family: 'Prompt', sans-serif !important;
}
.mat-divider {
  border-top-width: 2px;
  border-color: white !important;

}
a{
  color: #f2f5f7 !important;
}
.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 46px !important;
  &:hover {
    color: #f2f5f7 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      &:hover {
        background: #567e99 !important;
      }
    }
  }
}
.list-item-active {
  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #567e99 !important;
      &:hover {
        background: #567e99 !important;
      }
    }
  }
}
.mat-subheader {

  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}
h4{
  color: #f2f5f7 !important ;
  font-size: 1.1rem;
  margin: 0.5rem  !important;
}

/////////////////////////////////////////////////////////////////////////////////////
