<mat-nav-list>
  <div class="logo py-1 d-flex justify-content-center align-content-center text-white">
    <mat-icon class="my-3">local_parking</mat-icon><h1 class="my-3">PharmaTec</h1> 
  </div>
  <!-- <mat-divider></mat-divider> -->

  
  <div class="d-flex flex-column my-5 align-items-center justify-content-center text-white">

    <a class="my-2" mat-list-item routerLinkActive="list-item-active" routerLink="/orders">
      <h4 class="d-flex">
        <mat-icon>shopping_cart</mat-icon> Orders
      </h4> 
    </a>

    <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/products/all-products">
      <h4 class="d-flex">
        <mat-icon>category</mat-icon> Products
      </h4>
    </a>

    <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/products/add">
      <h4 class="d-flex">
        <mat-icon>add</mat-icon> Add Product
      </h4>
    </a>
    <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/products/edit/:id">
      <h4 class="d-flex">
        <mat-icon>edit</mat-icon> Edite Medicene
      </h4>
    </a>
    <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
      <h4 class="d-flex">
        <mat-icon>account_circle</mat-icon>profile
      </h4>
    </a>
  </div>

</mat-nav-list>