.proflie-field span {
	display: inline-block;
	width: calc(100% - 180px);
}
.proflie-field label {
	width: 150px;
	display: inline-block;
}
.orange-btn{
    background-color: #f2a71b !important;
    color: #FFF;
    font-weight: 400;
}
::ng-deep .mat-form-field-label {
  font-size: 14px !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(0 0 0 / 21%) !important;
}
.details-form span{
  color: #f2a71b !important;
  font-size: 12px !important;
}
.edit-btn{
  background-image: linear-gradient(to left, #4340fb, #00BCD4);

}