<div class="container-fluid d-flex align-items-center justify-content-center">
   <div class="row w-100 ">
      <div class="col-lg-12 my-3">
         <div class="py-1">
            <h4 class="fw-bolder"> {{currentUser}}</h4>
         </div>
         <mat-card class="details-form">
            <div class="row">
               <div class="col-md-8 py-3">
                  <form [formGroup]="adminDetailsForm" *ngIf="adminDetailsForm" >
                     <div class="example-container">
                        <mat-form-field class="w-100 ">
                           <input matInput placeholder="Name" type="text" value="{{adminDetails.name}}" formControlName="name" [(ngModel)]="adminDetails.name"
                           [class.is-invalid]="adminDetailsForm.controls['name'].errors && adminDetailsForm.controls['name'].touched" >
                        </mat-form-field>
                        
                           <span *ngIf="adminDetailsForm.controls['name'].errors?.['required'] && adminDetailsForm.controls['name'].touched"> Name is required</span>
                           <span *ngIf="adminDetailsForm.controls['name'].errors?.['maxlength']">Max length is 20</span>
                           <span *ngIf="adminDetailsForm.controls['name'].errors?.['minlength']">Min length is 5</span>
                         
                        <mat-form-field class="w-100">
                           <input matInput placeholder="Username" type="text"  value="{{adminDetails.username}}" formControlName="username"  [(ngModel)]="adminDetails.username"
                           [class.is-invalid]="adminDetailsForm.controls['username'].errors && adminDetailsForm.controls['username'].touched">
                        </mat-form-field>

                           <span *ngIf="adminDetailsForm.controls['username'].errors?.['required'] &&  adminDetailsForm.controls['username'].touched"> Username is required</span>
                           <span *ngIf="adminDetailsForm.controls['username'].errors?.['maxlength']">Max length is 20</span>
                           <span *ngIf="adminDetailsForm.controls['username'].errors?.['minlength']">Min length is 5</span>

                        <mat-form-field class="w-100 ">
                           <input matInput placeholder="Mobile Number" type="text"  value="{{adminDetails.phoneNumber}}" formControlName="phoneNumber" [(ngModel)]="adminDetails.phoneNumber"
                           [class.is-invalid]="adminDetailsForm.controls['phoneNumber'].errors && adminDetailsForm.controls['phoneNumber'].touched">
                        </mat-form-field>

                           <span *ngIf="adminDetailsForm.controls['phoneNumber'].errors?.['required'] && adminDetailsForm.controls['phoneNumber'].touched">Mobile number required</span>
                           <span *ngIf="adminDetailsForm.controls['phoneNumber'].errors?.['pattern']"> Inavlid Mobile number</span>                        
                        
                        <mat-form-field class="w-100">
                           <input matInput type="email" placeholder="Email"  value="{{adminDetails.email}}" formControlName="email" [(ngModel)]="adminDetails.email"
                           [class.is-invalid]="adminDetailsForm.controls['email'].errors && adminDetailsForm.controls['email'].touched">
                        </mat-form-field>

                        <span *ngIf="adminDetailsForm.controls['email'].errors?.['required'] && adminDetailsForm.controls['email'].touched"> Email required </span>                        
<!-- 
                        <mat-form-field class="w-100">
                           <input matInput type="password" placeholder="Password" formControlName="password"
                           [class.is-invalid]="adminDetailsForm.controls['password'].errors && adminDetailsForm.controls['password'].touched">
                        </mat-form-field> -->
                           <!-- <span *ngIf="adminDetailsForm.controls['password'].errors?.['required'] &&  adminDetailsForm.controls['password'].touched">Password required</span>      -->
                      
                        <div class="my-1">   
                           <button *ngIf="!adminDetailsForm.disabled" mat-raised-button class=" me-2"(click)="adminDetailsForm.disable()">Cancel</button>
                           <button *ngIf="!adminDetailsForm.disabled" mat-raised-button class="orange-btn me-2" (click)="Update()">Save</button>
                           <button *ngIf="adminDetailsForm.disabled" mat-raised-button class="edit-btn"  (click)="enableFrom()" color="primary">Edit Details</button>
                        </div>
                     
                     </div>
                  </form>
               </div>
               <div class="col-md-4 d-flex justify-content-center align-items-center">
                  <div class="d-sm-none d-md-block">
                     <img src="../../../../assets/user-edit.png" class="opacity-25 img-fluid">
                  </div>
               </div>
            </div>
         </mat-card>
      </div>
   </div>