<mat-nav-list>
  <div class="logo py-4 text-white">
    <h1>
      <mat-icon>local_pharmacy</mat-icon> PharmaTec
    </h1>
  </div>
  <mat-divider></mat-divider>

  <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <h2>
      <mat-icon>home</mat-icon> Home
    </h2>
  </a>
  <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <h2><mat-icon>dashboard</mat-icon> Dashboard</h2>
  </a>
  <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="#">
    <h2><mat-icon>list</mat-icon> list Medicenes</h2>
  </a>
  <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="/addMed">
  <h2>  <mat-icon>add</mat-icon> Add Medicene</h2>
  </a>
  <a class="my-2 " mat-list-item routerLinkActive="list-item-active" routerLink="#">
  <h2><mat-icon>account_circle</mat-icon>profile</h2>
  </a>
  <a class="my-2 " mat-list-item>
   <h2> <mat-icon>edit</mat-icon> Edite Medicene</h2>
  </a>
</mat-nav-list>