<div class="d-flex justify-content-between forSearch  p-3">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Here!" class="form-control w-auto " #input />
  </div>
  
  <table mat-table [dataSource]="medArr" matSort class="mat-elevation-z8  p-3" (matSortChange)="sortData()">
    <!-- id Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
  
    <!-- client Column -->
    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
      <td mat-cell *matCellDef="let element">
          <img class="med-img" src="{{ element.image }}" alt="">
      </td>
    </ng-container>
  
    <!-- date Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name}}</td>
    </ng-container>
  
    <!-- status Column -->
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
    </ng-container>
  
    <!-- action Column -->
    <ng-container matColumnDef="Store Price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Store Price</th>
        <td mat-cell *matCellDef="let element">{{ element.storePrice }}</td>
      </ng-container>

      <ng-container matColumnDef="ExpDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ExpDate</th>
        <td mat-cell *matCellDef="let element">{{ element.expDate | date: "d/M/yy, h:mm a" }}</td>
      </ng-container>
      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>isAvailable</th>
        <td mat-cell *matCellDef="let element">{{ element.isAvailable }}</td>
      </ng-container>
      
      <ng-container matColumnDef="ArrivDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ArrivDate</th>
        <td mat-cell *matCellDef="let element">{{ element.arriveDate | date: "d/M/yy, h:mm a" }}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
