

.saveBtn{
    color:rgba(128, 128, 128, 0.719) !important;
    background-color: #f4f8fb !important;
    margin: 0px 5px !important;
    padding: 8px 25px !important;
    font-family: "Heebo", "sans-serif" !important;
    box-shadow: 0px 2px 1px -2px rgb(0 0 0 / 17%), 0px 2px 2px 0px rgb(0 0 0 / 5%), 0px 1px 2px 0px rgb(0 0 0 / 20%)
}