.tabStyle{
    padding: 10px 40px !important;
    background-color:  #52A0FD !important;
    border-radius: 25px 25px 0px 0px !important;
    color: rgb(255, 255, 255) !important;
    margin-right: -8px !important;
    margin-top: 5px  !important;
}
