<mat-toolbar class="py-1">
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon class="h1">menu</mat-icon>
        </button>
        <!-- try -->
        <div>
            <button mat-button [matMenuTriggerFor]="menulanguage">
                <mat-icon>language</mat-icon>
            </button>
            <mat-menu #menulanguage="matMenu">
                <button mat-menu-item>Arabic</button>
                <button mat-menu-item>English</button>
            </mat-menu>
        </div>
        <!-- try -->

        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="../../assets/144-1442578_flat-person-icon-download-dummy-man.png" alt=""
                            class="user-image mr-1 p-1" />
                        User Name
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>

            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>