.namingPositions{
    color: #ffff;
}

.cover{
    height: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(53, 109, 177, 0.453);
    opacity: 0;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img{
 width: 100%;
}

.cover:hover{
    opacity: 1;
    transition: all 1s ease-out;
    object-fit: cover !important;
}
.imgDiv{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imgImg{
    width: 100% !important;
    transition: all ease-in-out .5s;

}
.imgDiv:hover .imgImg{
    transform: scale(.99)  !important;
    transition: all ease-in-out .5s;
}